.btn1{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 10px 7px 10px;
    transition: color .3s ease;
    &:focus{
        outline: none;
    }
    &:hover{
        color: darken($color: white, $amount: 10);
    }
}

.btn-primary{
    margin-top: 10px;
    height: 40px;
    font-size: 14px;
    background-color: $primary;
    border-radius: 2px;
    &:disabled{
        background-color: lighten($color: $primary, $amount: 15);
    }
    &:hover{
        background-color: darken($color: $primary, $amount: 15);
    }
}

.btn-danger{
    background-color: #dc3545;
    border-radius: 5px;
    
    transition: background-color .3s ease;
    &:hover{
        background-color: darken($color: #dc3545, $amount: 10);
    }
}

.btn-block{
    width: 100%;
}



.google-btn {
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    height: 42px;
    background-color: $google-blue;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

    transition: box-shadow .3s ease;

    .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: $white;
    }
    .google-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        width: 18px;
        height: 18px;
    }
    .btn-text {
        float: center;
        position: relative;
        left: 25px;
        margin: 11px 40px 0 0;
        text-align: center;
        color: $white;
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    &:hover {
        box-shadow: 0 0 6px $google-blue;
    }
    &:active {
        background: $button-active-blue;
    }
}


.facebook-btn {
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    height: 42px;
    background-color: $facebook;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

    transition: box-shadow .3s ease;

    .facebook-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: $white;
    }
    .facebook-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        width: 18px;
        height: 18px;
    }
    .btn-text {
        float: center;
        position: relative;
        left: 25px;
        margin: 11px 40px 0 0;
        text-align: center;
        color: $white;
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    &:hover {
        box-shadow: 0 0 6px $facebook;
    }
    &:active {
        background: $button-active-blue;
    }
}

.twitter-btn {
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    height: 42px;
    background-color: $twitter;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

    transition: box-shadow .3s ease;

    .twitter-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: $white;
    }
    .twitter-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        width: 18px;
        height: 18px;
    }
    .btn-text {
        float: center;
        position: relative;
        left: 25px;
        margin: 11px 40px 0 0;
        text-align: center;
        color: $white;
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    &:hover {
        box-shadow: 0 0 6px $twitter;
    }
    &:active {
        background: $button-active-blue;
    }
}

.facebook{
    background-color: $facebook;
    border: 1px solid $facebook;
}

.twitter{
    background-color: $twitter;
    border: 1px solid $twitter;
}
.google{
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    border: 1px solid $light-grey;
}