.journal__main-content{
    display:flex;
}

.journal__sidebar{
    background-color: lighten($color: $sidebar1, $amount: 15);
    color:white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    width: 450px;
   
}

.journal__sidebar-navbar{
    display: flex;
    justify-content: space-between;


}

.journal__sidebar-navbar h3{
    font-weight: lighter;
}

.journal__new-entry{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    transition: color .3s ease;

    &:hover{
        color:darken($color: white, $amount: 20)
    }
}

.journal__entries{
    flex: 1 1 auto;
    margin-top: 20px;
    overflow-y: auto; //auto
    background-color:  $sidebar1;
    padding: 0 10px;
    margin-bottom: 10px;
}
//Oculta la barra de scroll
/* .journal__entries::-webkit-scrollbar {
    display: none;
  } */

.journal__text-history{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.journal__entry{
    background-color: white;
    border-radius: 5px;
    color: $dark-grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px #000;
    transition: background-color .3s ease;
    &:hover{
        background-color: #06A78D;
        color:white;
    }
    
}

/* .journal__entry-picture{
    height: 75px;
    width: 75px;
} */

.journal__entry-body{
    padding: 10px;
}

.journal__entry-title{
    font-size:14px;
    font-weight: bold;
}

.journal__entry-content{
    font-size: 10px;
}
.journal__entry-data-box{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.journal__entry-date-box span{
    font-size: 12px;
    background-color:  #dc3545;
}
.journal__entry-trash{
    background-color:  #dc3545;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 10px;

}
.journal__entry-color{
    background-color:  #dc3545;
}


  .journal__entry-icondelete{
    background-color: darken($color: $light-grey, $amount: 15);
    border-radius: 50%;
    padding: 9px;
   
    margin:5px 5px;
    align-items: center;
    display: flex;
    transition: background-color .3s ease;
    &:hover{
        background-color: $dark-grey;
    }
  }
  