
.notes__main-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.notes__appbar{
    align-items: center;
    background-color: $primary;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.notes__appbar-format{
    align-items: center;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    border: 1px solid black;
    font-size: 25px;
}
.notes__appbar-search{
    padding: 10px 10px;
    border: 1px solid black;
}
.notes__content{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.notes__title-input, .notes__textarea{
    border:none;

    &:focus{
        outline:none;
    }
}

.notes__title-input{
    color: $dark-grey;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.notes__textarea{
    /* border: 1px solid black; */
    color: $dark-grey;
    font-size:20px;
    flex: 1 1 auto;
    resize: none;
}

.notes__image img{
    box-shadow: 5px 5px $dark-grey;
    height: 150px;
}
.notes__app-contador{
 align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;

}
.notes__appbar-subcontador{
border: 2px solid black;
padding: 10px;
}