
.notes__main-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.notes__appbar{
    align-items: center;
    background-color: lighten($color: $sidebar1, $amount: 15);
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10px;

 
    border: 1px solid $light-grey;
}
.notes__appbar-format{
    align-items: center;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    border: 1px solid black;
    font-size: 25px;
}
.notes__appbar-search{
    padding: 10px 10px;
    border: 1px solid black;
}
.notes__content{
    display: flex;
    flex-direction: column;
    height: 100%;
   
}

.notes__title-input, .notes__textarea{
    border:none;

    &:focus{
        outline:none;
    }
}

.notes__title-input{
    color: $dark-grey;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    border-radius: 5px;
}

.notes__textarea{
    /* border: 1px solid black; */
    color: $dark-grey;
    font-size:20px;
    flex: 1 1 auto;
    resize: none;
    padding: 20px;
}

.notes__image img{
    box-shadow: 5px 5px $dark-grey;
    height: 150px;
}
.notes__app-contador{
 align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px;

}
.notes__appbar-subcontador{
cursor: pointer;
background-color: $sidebar1;
border-radius: 100%;
padding: 25px;
margin-right: 10px;
transition: background-color .3s ease;
&:hover{
    background-color: darken($color: $sidebar1, $amount: 10);
}
}

.notes__search-box {
    overflow: hidden;
   margin-bottom: 15px;
  }
  
  .notes__search-container {
    float: right;
  }
  
  .notes__search-input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 10px 0 0 10px;
  }
  
  .notes__search-btn {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
  &:hover{
  background: #ccc;
  }
  }

  @media screen and (max-width: 600px) {
    .notes__search-container {
      float: none;
    }
    .notes__search-input[type=text], .notes__search-btn {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
   .notes__search-input[type=text] {
      border: 1px solid #ccc;  
    }
  }

.notes__length{
    align-items: center;
    background-color: $length;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border: 1px solid $light-grey;
}

spinner-container {
  display: flex;
}
.spinner {
  width: 100%;
  height: 100%;
}

.spinner > div {
  display: inline-block;
  justify-content: space-evenly;
  margin: 0px 5px;
}

.spinner-msg {
  display: inline-block;
  margin: 5px;
  font-size: 14px;
}