/* Set default font-family */  
.ql-snow .ql-picker.ql-font, .ql-bubble .ql-picker.ql-font {
  width: 130px;
}
/* Set dropdown font-families */
.ql-font span[data-value="impact"]::before, .ql-font span[data-label="Impact"]::before {
  font-family: "Impact";
}
.ql-font span[data-value="courier"]::before, .ql-font span[data-label="Courier"]::before {
  font-family: "Courier";
}
.ql-font span[data-value="comic"]::before, .ql-font span[data-label="Comic Sans MS"]::before {
  font-family: "Comic Sans MS";
}
.ql-font span[data-value="arial"]::before, .ql-font span[data-label="Arial"]::before {
  font-family: "Arial";
}
.ql-font span[data-value="times"]::before, .ql-font span[data-label="Times New Roman"]::before {
  font-family: "Times New Roman";
}

.ql-font-impact { font-family: 'Impact'; }
.ql-font-courier { font-family: 'Courier'; }
.ql-font-comic { font-family: 'Comic Sans MS'; }
.ql-font-arial { font-family: 'Arial'; }
.ql-font-times { font-family: 'Times New Roman'; }

.text-editor {
  width: 100%;
  margin: 0 auto;
}
.ql-editor {
  min-height: 100px;
  height: 310px;
  overflow-y: auto;
}

.ql-container.ql-snow {
	border: 0px solid #ccc;
}
  
  