//  COLORS

$primary: #5C96C8; //5c62c5
$dark-grey: #363636;
$light-grey:#d8d8d8;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
$error: #BB4733;
$facebook:#3b5998;
$twitter:#1DA1F2;
$sidebar:#2C384A;
$sidebar1:#014177;
$length:#cc7000